# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/.idea.Pattrns.iml
/modules.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../:\UnityProjects\GB\GB_CSharpPatterns\Pattrns\.idea\.idea.Pattrns\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
