# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.SimpleArcanoid.iml
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../:\UnityProjects\GB\GB_CSharpPatterns\SimpleArcanoid\.idea\.idea.SimpleArcanoid\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
